@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">    
    <p class="lead">Wellcome to WebAdmin of the shop application.</p>
    <p>
        Please
        @Html.ActionLink("Login as admin", "Login", "Account", routeValues: new { returnUrl = "/Article" }, htmlAttributes: new { id = "loginLink" })
        or
        @Html.ActionLink("Access to the shop", "Index", "Shop")  
    </p>
</div>